/* Header buttons */
#header nav ul.nav-top li.facebook a, #header nav ul.nav-top li.twitter a, #header nav ul.nav-top li.linkedin a {
	border-radius: 2px;
	margin-top: 8px;
}

#header nav ul.nav-top li.facebook a:hover, #header nav ul.nav-top li.twitter a:hover, #header nav ul.nav-top li.linkedin a:hover {
	color: #ffffff;
}

/* Facebook */
#header nav ul.nav-top li.facebook a {
	padding: 0px 9px;
}

#header nav ul.nav-top li.facebook a:hover {
	background-color: #3B5998;
}

/* Twitter */
#header nav ul.nav-top li.twitter a {
	padding: 0px 6px;
}

#header nav ul.nav-top li.twitter a:hover {
	background-color: #00aced;
}

/* LinkedIn */
#header nav ul.nav-top li.linkedin a {
	padding: 0px 6px;
}

#header nav ul.nav-top li.linkedin a:hover {
	background-color: #007bb6;
}

/* Tabs panel */
.tabbable-panel {
  border: 0px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #9b1821;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 4px solid #9b1821;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

/* Cusom Section Featured */
section.featured2 {
  background: #E0E0E0;
  border-top: 0px solid #ECECE8;
  margin: 35px 0;
  padding: 10px 0;
}

section.featured.footer {
  margin: 30px 0 -70px;
}

section.featured.map {
  background-image: url(../img/map-bottom.png);
  background-position: center 0;
  background-repeat: no-repeat;
  margin-top: 0;
  border-top: 0;
}

/* Call To Action */
section.call-to-action2 {
  
  clear: both;
}

section.call-to-action2:before {
  content: "";
  display: block;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #FFF;
  height: 15px;
  width: 15px;
  top: -5px;
  left: 50%;
  margin-left: -7px;
}

section.call-to-action2 h3 {
  text-transform: none;
  color: #121212;
}

section.call-to-action2 h3 .btn {
  margin-left: 10px;
}

.form-control {
  border-radius: 4px;
}

.btn {
  border-radius: 4px;
}

